body {
    background-image: URL(https://cpe-prod.usabaseball.com/assets/images/8/5/0/251133850/cuts/1580x890/cut.jpg);
    font-family: 'Chilanka', cursive;
}

.gifs {
    float: left;
    margin: 45px;
    border: 3px solid blue;
}

p {
    color: rgb(170, 170, 236);
    font-size: 24px;
    background-color: blue;
    margin-top: -6px;
    text-align: center;
    height: 41px;
    padding-top: 13px;
}